{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container">
        <div class="row p-5 justify-content-lg-center">
            <div class="col-lg-6 p-3 border rounded-lg shadow">
                <h2 style="color: green; margin-bottom: 25px;">Register</h2>

                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}

                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary form-control" type="submit" value="Register">
                    </div>
                </form>
                <p class="small">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
            </div>
        </div>
{% endblock %}